.message-list {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    overflow: auto;
    margin: auto;
    padding: 0px;
    position: absolute;
    bottom: 30px;
    border-radius: 10px 10px 0 0;
    background: rgba(31, 31, 31, 0.171);
}