.chat-container {
    height: 30vw;
    min-height: 220px;
    width: 20vw;
    position: absolute;
    bottom: 60px;
    right: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    z-index: 5;
    overflow-y: hidden;
}   

.message-container {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.459);
    height: 90%;
    border-radius: 10px 10px 0 10px;
    width: 20vw;
    height: 100%;
    width: 100%;
    transition: 1s opacity;
    position: relative;
}

.button-container {
    height: 10%;
    width: 15%;
    position: absolute;
    top: 0;
    right: 0;
}