.board-item {
    margin: auto;
    flex: 1;
    justify-content: center;
    background-color: #464646;
    border: 5px solid #9DAAB6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 6px;
    padding: 0px 10px;
    min-width: 200px;
    max-width: 220px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
}

.board-item:hover {
    border: 5px solid rgb(201, 209, 216);
    box-shadow: 0px 0px 14px rgba(129, 129, 129, 0.5);
    transition: .5s;
}

.board-item li {
    text-align: center;
}

.delete-button {
    position: absolute;
    top: -7px;
    right: 1px;
    border: none;
    background: none;
    color: rgba(224, 109, 109, 0.726);
    font-size: 1.6em;
    padding: none;
    padding: 0 0 0 0;
    outline: none;
}

.delete-button:hover {
    transform: scale(1.25);
    color: rgb(253, 107, 107);
    transition: .3s;
}