.boards-header {
    display: flex;
    flex-flow: row;
    width: 80vw;
    align-items: center;
    padding-bottom: 0px;
    padding-top: 14px;
    padding: 20px 0px 0px 10px;
}

.boards-header img {
    opacity: 0.8;
}

.boards-header h2 {
    padding: 6px 0px 0px 10px;
    color: white;
    margin-block-start: 0em;
    margin-block-end: 0em;
}