.boards-section {
    margin: auto;
    width: 80vw;
    /* display: flex;
    flex-flow: column; */
}

.boards-section img {
    height: 2em;
}

.board-item {
    margin: auto;
    justify-content: center;
    list-style: none;
    width: 80vw;
    border-radius: 10px;
    background: #464646;
    border: 5px solid #9DAAB6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.475);
    color: white;
}

.board-item li {
    text-align: center;
}
