@import url("https://use.typekit.net/gma6ree.css");

.profile {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    background: #7e7e7e5e;
    padding: 8px 20px;
    border-radius: 10px;
    border: 2px solid rgba(103, 103, 103, 0.486);
}

.profile button {
    background: transparent;
    color: rgba(255, 255, 255, 0.274);
    border: 2px solid rgba(255, 255, 255, 0.24);
    border-radius: 5px;
    padding: 5px;
    transition: .75s;
}

.profile button:hover {
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 0, 0, 0.205);
    transition: .75s;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: #5b5b5b;
    /* border-bottom: 3px solid rgb(218, 218, 218); */
    color: whitesmoke;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

header .profile img {
    width: 25px;
    border-radius: 100%;
    border: 1px solid rgb(136, 136, 136);
}

header .profile span {
    padding: 0px 10px;
}

header a {
    display: flex;
    align-items: center;
    height: 10vh;
}

.nav {
    list-style: none;
    display: flex;
    width: 40vw;
    justify-content: space-around;
    padding: 0;
    text-decoration: none;
    margin: 0;
}

#logo {
    width: 175px;
    margin-left: 20px;
    -webkit-filter: drop-shadow(0px 0px 5px #3a3a3a48);
    filter: drop-shadow(0px 0px 5px rgba(34, 34, 34, 0.158));
    outline: none;
}

.nav li {
    text-decoration: none;
    color: rgb(232, 232, 232);
    font-family: reross-rectangular, sans-serif;
    opacity: .5;
}

.invites {
    display: flex;
    align-items: center;
    position: relative;
}

.invites-envelope {
    width: 20px;
    margin: 0 5px;
    padding: 2px;
}

.invites-count {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12px;
    width: 12px;
    border-radius: 100%;
    position: absolute;
    background: white;
    right: 0;
    top: 0;
}

.invites-count p {
    font-size: 10px;
    color: black;
}

.nav a .current-page {
    opacity: 1;
    border-bottom: 2px solid #00bff0;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.31);
}

.nav a:hover {
    text-shadow: 0px 0px 5px black;
    transition: .5s;
    animation: shift-right 2s steps(60);
}

.nav a {
    text-decoration: none;
    outline: none;
}