@import url("https://use.typekit.net/gma6ree.css");

.profile {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    background: #505050;
    padding: 7.5px 20px;
    border-radius: 5px;
}

.profile button {
    background: transparent;
    color: rgba(255, 255, 255, 0.42);
    border: 2px solid rgba(255, 255, 255, 0.468);
    border-radius: 5px;
    padding: 5px;
    transition: .75s;
}

.profile button:hover {
    color: rgba(255, 255, 255, 0.934);
    border: 2px solid rgba(232, 232, 232, 0.468);
    transition: .75s;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #5b5b5b;
    border-bottom: 2px solid white;
    color: whitesmoke;
}

header .profile img {
    width: 25px;
    border-radius: 100%;
}

header .profile span {
    padding: 0px 10px;
}

header a .logo {
    object-fit: contain;
    width: 175px;
    position: absolute;
    left: 0;
}

header a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.nav {
    list-style: none;
    display: flex;
    width: 40vw;
    justify-content: space-around;
    padding: 0;
    margin-right: 50px;
}

.nav li {
    text-decoration: none;
    color: white;
    font-family: reross-rectangular, sans-serif;
    opacity: .4;
}

.nav a {
    text-decoration: none;
}

.nav a:hover {
    text-shadow: 0px 0px 5px black;
    transition: .5s;
}

.nav a .current-page {
    border-bottom: 2px solid white;
    opacity: 1;
}