.profile {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    background: #505050;
    padding: 10px 20px;
    border-radius: 5px;
}

.profile button {
    background: transparent;
    color: rgba(255, 255, 255, 0.42);
    border: 2px solid rgba(255, 255, 255, 0.468);
    border-radius: 5px;
    padding: 5px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #5b5b5b;
    border-bottom: 2px solid white;
    color: whitesmoke;
}

header .profile img {
    width: 25px;
    border-radius: 100%;
}

header .profile span {
    padding: 0px 10px;
}

header .logo {
    object-fit: contain;
    width: 200px;
    position: absolute;
    left: 0;
}