.board-list {
    width: 250px;
    min-width: 250px;
    margin-right: 15px;
    max-height: 80vh;
    overflow: auto;
}

.list-section {
    background: #464646;
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.459);
}

.list-title {
    color: white;
    font-size: 1em;
    background: rgba(187, 187, 187, 0.226);
    border-radius: 5px 5px 0 0;
    margin: 0;
    padding: 3px 5px;
}

.card-list {
    padding: 0;
}
