.edit-list-menu {
    z-index: 6;
    position: absolute;
}

.edit-list-menu textarea {
    border-radius: 5px;
    outline: none;
    margin: 3px 0;
}

.edit-list-form {
    z-index: 9;
    display: flex;
    flex-direction: column;
    background: rgb(92, 92, 92);
    justify-content: center;
    align-items: center;
}

.edit-list-form button {
    width: 50px;
}