.edit-list-menu {
    z-index: 6;
    position: absolute;
}

.edit-list-menu textarea {
    border-radius: 5px;
    outline: none;
    margin-top: 3px;
    width: 240px;
    resize: vertical;
}

.edit-list-form {
    z-index: 9;
    display: flex;
    flex-direction: column;
    background: rgb(92, 92, 92);
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 5px;
}

.edit-list-form button {
    border: 3px solid #00bff0;
    border-radius: 3px;
    background: rgba(187, 187, 187, 0.226);
    color: white;
    height: 25px;
    margin: 3px;
    align-self: flex-start;
}