.board {
    position: relative;
}

.send-invite {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0;
    border: 3px solid rgba(255, 255, 255, 0.493);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.199);
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
    z-index: 5;
    background: rgb(103, 103, 103);
}

.expand-button {
    height: 20px;
    border-radius: 5px;
    display: flex;
    background: transparent;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgb(103, 103, 103);
    border-radius: 7px;
    border: none;
    transition: .75s;
    min-width: 200px;
}

.expand-button:hover {
    background: #9898987a;
    transition: .75s;
}

.expand-button p {
    color: white;
    font-size: 1em;
    margin: 0;
}

.expand-button img {
    width: 20px;
}

.invite-input {
    min-width: 70%;
    border-radius: 0 0 0 7px;   
    border: none;
    outline: none;
    padding: 0 0 0 10px;
    height: 30px;
}

.send-invite form {
    display: flex;
    justify-content: center;
}

.send-button {
    height: 30px;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 0 0 7px 0;
    background: rgb(242, 242, 242);
    transition: 1s;
    cursor: pointer;
    padding: 0;
    font-weight: bolder;
    font-size: 10px;
    color: #222222b0;
}

.send-button:hover {
    transition: .5s; 
    color: white;
    background: rgba(123, 123, 123);
}

@keyframes fadein {
    0% { opacity: 0 }
    100% { opacity: 100% }
}