@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right, #768b9ba8 0%, #92a3b1b1 100%);
    height: 100%
}

body {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
    transition: 1s opacity;
    z-index: -5;
}